body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, cyan, white);
}

.container {
  padding: 5px;
  width: 100%;
  /*border: solid black 2px;*/
}

#app {
  margin: auto;
  margin-top: 10%;
  width: 30%;
}

#header {
  background-color: steelblue;
  text-transform: uppercase;
  color: white;
}

#todos {
  color: gray;
  height: 50px;
}

#todolist {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
}

#todolist li:nth-of-type(2n) {
  background-color: lightgray;
}

li {
  height: 30px;
}

h1 {
  margin: 0;
}

input {
  border: none;
  font-size: 20px;
  background-color: lightgray;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.fa-trash-o {
  display: none;
  color: white;
  background: red;
  min-height: 100%;
}
